header {
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    background: var(--color-white);
    transition: var(--transition);
}

.social-button {
    display: inline-block;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-black);
    padding: 0.4rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-2);
    cursor: pointer;
  }

  .social-button:hover {
    background-color: var(--color-secondary);
  }
  
  .social-button h4 {
    margin-left: 0.5rem;
    font-weight: normal;
  }
  
  .social-icon {
    /* color: #0e76a8; */
    font-size: 24px;
  }

.header__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.header__profile {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.header__profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 5px solid var(--color-light);
    border-radius: 50%;
}

.header__container p {
    width: 35rem;
    text-align: center;
    margin: 0.6rem 0 2rem;
}

.header__socials {
    display: flex;
    flex-direction: flex;
    gap: 1rem;
}

.header__title {
    width: 60%;
    margin-left: 5rem;
}

.header__buttons {
    display: flex;
    gap: 1rem;
}

.header__container h1 {
    margin: 1rem 0;
}

.header__container h4 {
    color: var(--color-dark)
}

.header__maincontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.title_content {
  text-align: left;
}

header .header__title .header__divider {
    width: 100%;
    margin: 1rem 0;
  }

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px){
    header {
        margin-top: 0;
        height: 100vh;
    }

    .header__buttons {
        display: none;
    }

    .header__profile {
        width: 14rem;
        height: 14rem;
    }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px){
    .header__profile {
        width: 10rem;
        height: 10rem;
    }

    .header__container p {
        width: 100%;
    }
}